:root {
    --font: "Plus Jakarta Sans", sans-serif;
}

.container {
    margin: 100px auto;
    max-width: 600px;
}
body {
    background-color: #F8F9FA;
    font-family: var(--font);
    text-align: center;
    font-size: 18px;
}
h1 {
     font-weight: 600;
     font-size: 36px;
     color: #58751A;
     margin-top: 0;
}
form {
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    box-shadow: 0 12px 14px -8px grey;
}
label {
    margin-bottom: 20px;
}
.question {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #58751A;
    border-radius: 30px;
    width: 80%;
    margin: auto;
    font-size: 18px;
}
.example {
    font-size: 16px;
    color: grey;
    margin-top: 10px;
    font-style: italic;
}
button.submit {
    padding: 15px;
    width: 40%;
    border-radius: 30px;
    border: none;
    background-color: #5c7329;
    color: #fff;
    margin: 20px auto 0;
    transition: 0.25s;
}
button.submit:hover {
    background-color: #6d9020
}
.answer {
    text-align: left;
    font-size: 18px;
    background-color: #fff;
    padding: 30px;
    border-left: 2px solid #5c7429;
        box-shadow: 0 12px 14px -8px grey;
}
.Typewriter__cursor {
    display: none;
}
.hidden {
    display: none;
}
p {
    font-size: 18px;
}
a {
    color: #58751A;
    font-weight: 600;
}
li {
    margin-bottom: 10px;
}
footer {
    margin-top: 40px;
    font-size: 16px;
}